/* styles/globals.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #1c1c1e;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #0071e3;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover {
  color: #005bb5;
}

button {
  background-color: #0071e3;
  color: white;
  border: none;
  padding: 12px 30px;
  margin: 10px 0;
  margin-right: 20px; /* Adds space between buttons */
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  background-color: #005bb5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Main container layout */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* 3D model box */
.modelBox {
  width: 70%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}

/* Sidebar */
.sidebar {
  width: 30%;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow-y: auto;
}

/* Model options in the sidebar */
.modelOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.modelOption:hover {
  transform: translateY(-5px);
}

.modelOption span {
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1e;
  margin-top: 15px;
}

/* Thumbnail styling */
.thumbnail {
  width: 160px;
  height: 160px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f0f0f0;
}

/* Custom button */
.custom-button {
  background-color: #0071e3;
  color: white;
  border: none;
  padding: 12px 30px;
  margin-right: 20px; /* Adds space between custom buttons */
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-button:hover {
  background-color: #005bb5;
}

/* Clear button */
.clear-button {
  position: fixed;
  top: 20px;
  left: 25px;
  width: 50px; /* Ensure equal width and height */
  height: 50px; /* Ensure equal width and height */
  display: flex;
  padding: 18px !important;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50%; /* Perfectly round */
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.clear-button:hover {
  background-color: #c82333;
}

/* Model Detail Page Layout */
.model-detail-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.model-detail-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.model-viewer-section {
  background-color: #f4f4f4;
  width: 100%;
  max-width: 48%;
  height: auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.model-details-section {
  background-color: white;
  width: 100%;
  max-width: 48%;
  height: 100%;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.price-section {
  margin-top: 0px;
}

.new_price {
  color: #000;
  font-size: 24px;
  font-weight: 800;
}

.discount {
  color: #ff0000;
  font-weight: 600;
}

.old_price {
  color: #888;
  text-decoration: line-through;
}

.rating-section {
  display: flex;
  align-items: center;
}

.rating-section span {
  margin-left: 5px;
}

.product-details-list {
  list-style: none;
  font-size: 14px;
  margin-left: -40px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.product-details-list.show-more {
  max-height: none;
}

.show-more-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 15px;
}

.show-more-link {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.add-to-cart-button {
  background-color: #ff9900;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%; /* Set to 90% width */
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 5px;
  text-align: center;
}

.add-to-cart-button:hover {
  background-color: #e68a00;
}

@media screen and (max-width: 768px) {
  .model-detail-container {
    flex-direction: column;
    height: auto;
  }

  .model-viewer-section,
  .model-details-section {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  .model-viewer-section {
    padding: 10px; /* Adjust padding for mobile */
    height: auto; /* Set height to auto */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .modelBox {
    width: 100%;
    height: 50vh;
  }

  .sidebar {
    width: 100%;
    height: 50vh;
    box-shadow: none;
    overflow-y: auto;
  }

  .clear-button {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
